* {
    font-size: 14px;
    font-weight: bold;
    font-family: "JetBrainsMono";
}

#waybar {
    /*#background-color: #11151a;*/
    background: transparent;
    color: #c0caf5;
    border-radius: 50px 50px 50px 50px;
    background-color: rgba(0, 0, 0, 0.25);
}

button {
    border: none;
    border-radius: 0;
    padding: 0 5px;
    transition: all 0.2s ease;
}


/* Left Modules */
#network.icon {
    background-color: #458588;
    color: #1D2021;
    padding: 0 12px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 5px;
}

#network.icon.disconnected {
    background-color: #CC241D;
    color: #1D2021;
    padding: 0 12px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 5px;
}

#network.text {
    background-color: #1D2021;
    color: #458588;
    padding: 0 12px;
    border-radius: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
}

#network.text.disconnected {
    background-color: #1D2021;
    color: #CC241D;
    padding: 0 12px;
    border-radius: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
}

#disk.icon {
    background-color: #689D6A;
    color: #1D2021;
    padding: 0 12px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 5px;
}

#disk.text {
    background-color: #1D2021;
    color: #689D6A;
    padding: 0 12px;
    border-radius: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
}

#memory.icon {
    background-color: #98971A;
    color: #1D2021;
    padding: 0 10px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 5px;

}

#memory {
    background-color: #1D2021;
    color: #98971A;
    padding: 0 12px;
    border-radius: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
}

/* Center Modules */
#workspaces {
    background-color: #1D2021;
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
}

#workspaces button.active {
    color: #B16286;
}

/* Right Modules */
#cpu.icon {
    background-color: #98971A;
    color: #1D2021;
    padding: 0 10px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 5px;
}

#cpu.text {
    background-color: #1D2021;
    color: #98971A;
    padding: 0 12px;
    border-radius: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
}

#clock.icon {
    background-color: #689D6A;
    color: #1D2021;
    padding: 0 12px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 5px;
}

#clock.text {
    background-color: #1D2021;
    color: #689D6A;
    padding: 0 12px;
    border-radius: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
}

#pulseaudio.icon {
    background-color: #458588;
    color: #1D2021;
    padding: 0 12px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 5px;
}

#pulseaudio.text {
    background-color: #1D2021;
    color: #458588;
    padding: 0 12px;
    border-radius: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
}

#pulseaudio.icon.muted {
    background-color: #CC241D;
    color: #1D2021;
    padding: 0 12px;
    border-radius: 10px 0 0 10px;
    margin: 5px 0 5px 5px;
}

#pulseaudio.text.muted {
    background-color: #1D2021;
    color: #CC241D;
    padding: 0 12px;
    border-radius: 0 10px 10px 0;
    margin: 5px 5px 5px 0;
}

#tray {
    background-color: #1D2021;
    padding: 0 10px;
    border-radius: 10px;
    margin: 5px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #CC241D;
}