* {
    font-family: 'JetBrainsMono';
    font-size: 14px;
    font-weight: bold;
}

#window {
    background-color: rgba(29, 32, 33, 0.75);
}

#outer-box {
    padding: 15px;
}

#input {
    padding: 8px 12px;
    border: rgba(0, 0, 0, 0.35);
    background: rgba(0, 0, 0, 0.35);
}

#scroll {
    margin-top: 20px;
    margin-bottom: 20px;
}

#img {
    color: aliceblue;
    padding-right: 8px;
    background-color: transparent;
}

#text {
    color: #d6d6d6;
    background-color: transparent;
}

#text:selected {
    color: #2d3741;
}

#entry {
    background-color: #00000000;
    padding: 6px;
}

#entry:selected {
    background: linear-gradient(90deg, #689D6A, #E7D7AD);
}

#input {
    color: #c0c0c0;
}

#input, #entry:selected {
    border-radius: 4px;
}