* {
    font-family: "Noto Sans";
    font-size: 14px;
    font-weight: 600;
}

#window {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 0px;
}

#outer-box {
    padding: 20px;
}

#input {
    background: rgba(0, 0, 0, 0.35);
    border: 0px solid #FF8282;
    padding: 8px 12px;
}

#scroll {
    margin-top: 20px;
    margin-bottom: 20px;
}

#img {
    padding-right: 8px;
}

#text {
    color: #dcdcf0;
}

#text:selected {
    color: #2d3741;
}

#entry {
    padding: 6px;
}

#entry:selected {
    background-color: linear-gradient(90deg, #B4BEFE, #CBA6F7);
    background: linear-gradient(90deg, #B4BEFE, #CBA6F7)
}

#input, #entry:selected {
    border-radius: 4px;
}
