* {
    border: none;
    min-height: 0;
    border-radius: 3px;
    margin: 0.1em 0.15em 0.1em 0.15em;
}

window#waybar {
    color: #cdd6f4;
    background: rgba(30, 30, 46, 0);
    
    font-size: 14px;
    font-weight: bold;
    font-family: "JetBrainsMono";
}

/* Workspaces */
#workspaces {
    margin: 4px 0px;
    padding: 0px 4px;
}

#workspaces button {
    padding: 0;
    font-size: 1em;
    background: none;
    font-weight: bold;
}

#workspaces button.active {
    color: #cba6f7;
}

/*  Other Modules */
#cpu, #tray, #disk, #memory, #bluetooth,
#network, #backlight, #pulseaudio {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#network {
    color: #89b4fa;
}

#disk {
    color: #74c7ec;
}

#memory {
    color: #94e2d5;
}

#cpu {
    color: #89b4fa;
}

#clock {
    color: #74c7ec;
}

#pulseaudio {
    color: #94e2d5;
}
#network.disconnected {
    color: #fab387;
}


#pulseaudio.muted,
#pulseaudio.source-muted {
    color: #f38ba8;
}
