* {
    border: none;
    min-height: 0;
    border-radius: 3px;
    margin: 0.1em 0.15em 0.1em 0.15em;
}

window#waybar {
    color: #FFFFFF;
    background: rgba(13, 17, 23, 0.5);
    
    font-size: 14px;
    font-weight: bold;
    font-family: "JetBrainsMono";
}

/* Workspaces */
#workspaces {
    margin: 4px 0px;
    padding: 0px 4px;
}

#workspaces button {
    padding: 0;
    font-size: 1em;
    background: none;
    font-weight: bold;
}

#workspaces button.active {
    color: aliceblue;
}

/*  Other Modules */
#cpu, #tray, #disk, #memory, #bluetooth,
#network, #backlight, #pulseaudio {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

#network {
    color: #7FBBB3;
}

#disk {
    color: #83C092;
}

#memory {
    color: #A7C080;
}

#cpu {
    color: #DBBC7F;
}

#bluetooth {
    color: #E69875;
}

#network.disconnected {
    background: #E69875;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
    color: #E67;
}
