* {
    font-size: 16px;
    font-weight: bold;
    font-family: "JetBrainsMono";
}

window#waybar {
    background-color: rgba(37, 37, 37, 0.5);
    transition-duration: .5s;
    transition-property: background-color;
}

window#waybar.hidden {
    opacity: 0.5;
}

button {
    border: none;
    border-radius: 0;
    box-shadow: inset 0 -2px transparent;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces {
    margin: 3px 0px;
    padding: 0px 4px;
}

#workspaces button {
    margin-right: 2px;
    color: aliceblue;
}

#workspaces button.active {
    color: aliceblue;
    box-shadow: inset 0 -2px aliceblue;
}

#tray,
#disk,
#memory,
#network {
    margin: 4px 0px;
    padding: 0px 4px;
}

#memory {
    color: shade(#88C0D0, 1.0);
    box-shadow: inset 0 -2px shade(#88C0D0, 1.0);
}

#disk {
    margin-right: 6px;
    color: shade(#81A1C1, 1.0);
    box-shadow: inset 0 -2px shade(#81A1C1, 1.0);
}

#network {
    color: shade(#8FBCBB, 1.0);
    box-shadow: inset 0 -2px shade(#8FBCBB, 1.0);
}

#network.disconnected, #network.disabled {
    color: shade(#BF616A, 1.0);
    box-shadow: inset 0 -2px shade(#BF616A, 1.0);
}

#tray {
    margin-right: 12px;
    color: shade(#EBCB8B, 1.0);
    box-shadow: inset 0 -2px shade(#EBCB8B, 1.0);
}